.Youtube {
    position: relative;
    height: 0;
    padding-bottom: 35%;
}
    
    

.Youtube iframe {
    position: absolute;
    left: 25%;
    top: 66%;
    width: 50%;
    height: 70%;
    border: 10px solid pink;
}
    
.Youtube h1 {
    position: absolute;
    left: 44%;
    top: 56%;
    text-align: center;
}





    
