* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    font-size: 32px;
    font-weight: 300;
    color: #444;
    background-color: black;
}

div {
    display: block;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid white;
}

#header h1 {
    margin: 0;
    display: inline-block;
}




    


